/* css for header */
.narbar{
    height:50px;
    background-color:#09b3a4;
    display:flex;
    justify-content:space-between;
    text-align:center;
    color:white;
}

.narbar_list{
    display:flex;
    list-style-type:none;
    padding-left: 0;
    
}

.narbar_item{
    padding-right: 20px;
}

.narbar_link:hover{
    color:black;
}

.narbar_item:hover{
    color:black;
}

.narbar_link{
    text-decoration: none;
    color:white;
}


/* css for main body info */
.header_title>h2>span{
    color: red;
}
.header_title,.introduce_info > h2 {
    font-size: 25px;
}
    /*Selector_table*/

.selector_item{
    padding: 0 2%;
}

.selector_item--container{
    text-align: center;
    border-radius: 13px;
    border: 1px solid black;
    padding:10px;
}    

.selector_link{
    text-decoration: none;
    color: black;
    font-size:15px;
    font-weight:500;
}
    /*photo table*/
img{
    width: 100%;
}     
.selector_item--container:hover{
    background-color:rgb(155, 146, 146);
    cursor: pointer;
}

/* css for main body info */
.group1_img{
    width:100%;
    border-radius: 10px;
}
.group1_title{
    bottom: 0;
    color: white;
    left: 32px;
    font-weight: 400;
}

#p_gr1{
    margin-top: -14px;
    margin-bottom: 42px;
    max-width:80%;
}
.photo_location{
    border-radius: 10px;
    width:100%;
}
.link_location{
    text-decoration: none;
    position:relative;
}
.link_location--h2{
    position:absolute;
    top: -82px;
    left: 22px;
    font-size: 31px;
    color: white;
    font-weight:500;
}

/* css for footer li */
.fa-facebook-f{
    font-size:40px;
    border:1px solid;
    padding:5px;
    color: blue;
}
.footer_list{
    list-style-type: disclosure-closed;
    padding-left: 20px;
}
.link-extra-info{
    color:blue;
    text-decoration: none;
}

/*Auth form sign up*/
.modal,.modal_sign_in{
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display:none;
}

.modal_layout{
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    left:0;
    background-color: black;
    opacity: 0.4;
}

.auth-form{
    position:absolute;
    top: 0;
    right:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.auth-form-centre{
    background-color: white;
    width:400px;
    height:430px;
    border-radius: 5px;
}

.auth-form__header{
    display:flex;
    justify-content:space-around;
}

.auth-form__body{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

.auth-form__input{
    height: 34px;
    margin: 5px 0;
}

.auth-form__notification{
    margin: 10px 0px;
    text-align: center;
    font-size: 12px;
}
.auth-form__button{
    display:flex;
    justify-content: space-between;
    margin-top: 55px;
}
.auth-form__button-item{
    width:110px;
    height:28px;
}
.auth-form__link{
    display: flex;
    justify-content: space-around;
    background-color: #f2e6e6;
    margin-top: 29px;
    padding: 12px 0;
}


.auth-form__link--item *{
    text-decoration: none;
}

.facebook{
    height: 26px;
    width: 150px;
    background-color: blue;
    border-radius: 1px;
}

.google{
    height: 26px;
    width: 150px;
    background-color:black;
    border-radius: 1px;
}

.narbar-button{
    display:flex;
    justify-content:end;
    cursor:pointer;
}

.fa-bars {
    margin:auto 0;
    font-size: 30px;
    margin-right: 20px;
}

.nar_sign_up:checked ~ .modal{
    display:block;
}

.sign_up_model_exit{
    position: absolute;
    right: 55px;
    top: 9px;
}

.fa-times{
    font-size: 30px;
    position:absolute;
    cursor: pointer;
}

.auth-form__link--item{
    border-radius: 5px;
}

.font_sign_up{
    color: white; font-size: 18px; margin-top: 5px;
}

.link_sign_up{
    color: white; font-size: 13px;
}

/*Sign in */
.auth-form-centre-sign-in{
    background-color: white;
    width: 400px;
    height: 335px;
    border-radius: 5px;
}

.nar_sign_in:checked ~ .modal_sign_in{
    display:block;
}


.sign_in_model_exit{
    position: absolute;
    right: 55px;
    top: 9px;
}

.font_sign_in{
    color: white; font-size: 18px; margin-top: 5px;
}

.link_sign_in{
    color: white; font-size: 10px;
}

/* bar_phone */
.nar_mobile_block{
    position: fixed;    
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    display:none;
}

.nar_mobile_layout{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.4;
    background-color: black;
}

.nar_mobile:checked ~ .nar_mobile_block{
    display:block;
}



.nar_mobile_form{
    position: absolute;
    top: 0;
    right: 0;
    width:250px;
    height: 100%;
    background-color: white;
}

.nar_mobile_list{
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;;
}

.nar_mobile_item{
    width:100%;
    padding:20px 0;
}

.nar_mobile_link,.nar_mobile_item{
    text-decoration: none;
    color:black;
    font-weight: 700;
    font-size: 20px;
}
.nar_mobile_link:hover,
.nar_mobile_item:hover{
    color:greenyellow;
}

/* Back to top */
.fa-arrow-up{
    font-size: 34px;
    color: black;
    position: fixed;
    bottom: 15px;
    right: 20px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    opacity: 0.4;
}

/* responsive*/
@media (max-width:739px){
    .narbar_list{
        display:none;
    }
    .narbar{
        display:flex;
        justify-content:flex-end;
    }
    .header_title {
        font-size: 60%;
        color: white;
        left: 10%;
    }
}

@media (min-width:740px){
    .narbar{
        display:flex;
    }
    .narbar-button{
        display: none;
    }
}